@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffff;
    --foreground: #ededed;
    --primary-color-gradient: linear-gradient(to left, #d11d23, #b91a1f);
    --primary-color: #d11d23;
    --primary-hover-color: #9e161b;
    --box-shadow: rgb(209, 46, 46);
    --text-color: black;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Prompt", "Noto Sans JP", "Open Sans", sans-serif;
}


